<h1>Signatures</h1>
<div class="main">
<table>

<% @signatures.each do |signature| %>
<h2><%= signature.title %></h2>
  
    <div class="whitebg">
      <div class="parawidth"><%= signature.content%></div>
    <span class="options">
    <%= link_to 'Show', signature %>
    <%= link_to 'Edit', edit_signature_path(signature) %>
    <%= link_to 'Destroy', signature, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
</div>
<% end %>
</table>

<br />

<%= link_to 'New Signature', new_signature_path %>
</div>