<h1>Groups</h1>


<% if current_user && current_user.admin %>
<div id="add_one"><%= link_to '+ Create group', new_group_path %></div>
<% end %>
<%= link_to 'groups', groups_path %>




<div class="main">
    <table>

            <%= div_for(@groups) do |group| %>
            <h2 class="padding-left"><%= group.title %></h2>
           
                <div class="whitebg">
                <div class="parawidth"><%= group.description %></div>
                
                    <div class="options">

                      <%= link_to 'Show', group %>

                      <% if current_user&&current_user.may_modify(group) %>
                        <%= link_to 'Edit', edit_group_path(group) %>
                        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>

                    </div>
                </div>
            </div>

    <% end %>
    </table>

    
    <br />
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
    <% end %>
</div>
</div>