<!-- <%= image_tag("whitestar.png", :class => "spike1") %> -->
<h1>Emails</h1>

<div id="add_email"><%= link_to '+ New Email', new_email_path %></div>



<table>
<%= div_for(@emails, ) do |email| %>
<h2><%= email.title %></h2>
    <div class="whitebg">
    <div class="parawidth"><%= email.content%></div>
    
        <span class="options">
        <%= link_to 'Show', email %>
        <%= link_to 'Edit', edit_email_path(email) %>
        <%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
    </div>
</div>

<!--   <tr class="whitebg">

    <td><%= email.id %></td>
    <td><%= email.title %></td>
    <td><%= email.rank %></td>
    <td><%= email.content %></td>
    <td><%= email.date_created %></td>
    <td><%= link_to 'Show', email %></td>
    <td><%= link_to 'Edit', edit_email_path(email) %></td>
    <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr> -->
<% end %>
</table>
</div>
<br />


