<!-- <%= image_tag("whitestar.png", :class => "spike1") %> -->
<h1>Emails</h1>

<div id="add_email"><%= link_to '+ New Email', new_email_path %></div>



<table>
<%= div_for(@emails, ) do |email| %>
<h2><%= email.title %></h2>
    <div class="whitebg">
    <div class="parawidth"><%= email.content%></div>
    
        <span class="options">
        <%= link_to 'Show', email %>
        <% if current_user.admin || current_user.created_email(email) %>
          <%= link_to 'Edit', edit_email_path(email) %>
          <%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </span>
    </div>
</div>

<% end %>
</table>
</div>
<br />
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

