<div class="center vertical_middle">
<p>
  <b>Title:</b>
  <%= @email.title %>
</p>

<p>
	<b>Creator:</b>
	<%= @email.creator.name %>
</p>


<p>
  <b>Content:</b>
  <%= @email.content %>
</p>


<% if current_user && current_user.may_modify(@email) %>
  <%= link_to 'Edit', edit_email_path(@email) %> |
<% end %>

<%= link_to 'Emails', emails_path %>
</div>