<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vote.user_id %>
</p>

<p>
  <b>Email:</b>
  <%= @vote.email_id %>
</p>

<p>
  <b>Creator:</b>
  <%= @vote.creator %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
